/* ABSTRACTS */
@use "./abstracts/variables";

/* BASE */
@use "./base/reset";
@use "./base/typography";

/* COMPONENTS */
@use "./components/calendar";
@use "./components/button";
@use "./components/notification";
@use "./components/input";
@use "./components/card";
@use "./components/modal";

/* LAYOUT */
@use "./components/layout/header";
@use "./components/layout/footer";
@use "./components/layout/main-layout";

/* PAGES */
@use "./pages/home";
@use "./pages/my-story";
@use "./pages/do-you-feel-this";
@use "./pages/the-way-to-transformation";
@use "./pages/what-couples-say";
@use "./pages/take-the-first-step";
@use "./pages/inside-the-room";
@use "./pages/login";
@use "./pages/dashboard";
@use "./pages/my-appointments";
@use "./pages/impressum";
@use "./pages/admin-availability";
@use "./pages/admin-users";
@use "./pages/revenue";

.appFade {
    animation: appFadeIn 0.8s ease;
}
  
@keyframes appFadeIn {
    from {
      opacity: 0;
      transform: translateY(8px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
}