@use "../abstracts/variables" as *;

.home {
  display: flex;
  flex-direction: column;
}

/* SECTION 1 - Hero */

.home__hero {
  height: 100vh;
  display: grid;
  grid-template-columns: 47% 53%;
  align-items: start;
  padding-left: 100px;
  overflow: hidden;
}

/* Left side */

.home__hero-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 770px;
  padding-top: 100px;
}

.logo-desktop {
  width: clamp(108px, 15vw, 320px);
  margin-top: 20px;
  margin-bottom: 20px;
}

.logo-mobile {
  display: none;
}

.home__title {
  color: $main-color-2;
  font-weight: 700;
  font-size: clamp(38px, 4.2vw, 86px);
  line-height: 1.18;
  margin: 20px 0 0 10px;
  text-shadow:
  0 2px 6px rgba(0,0,0,0.35),
  0 8px 20px rgba(0,0,0,0.25);
}

.home__subtitle {
  color: $bg-dark-color;
  font-size: clamp(18px, 1.8vw, 28px);
  margin: 50px 0 0 10px;
  line-height: 1.6;
  max-width: 520px;
  text-shadow:
  0 2px 6px rgba(0,0,0,0.35),
  0 8px 20px rgba(0,0,0,0.25);
}

/* CTA button 1 */

.home__ctaBtn {
  margin: 40px 0 0 10px;
}

/* Right side */

.home__hero-image {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: start;
  padding-top: 80px;
}

/* SECTION 2 */

.home__section2 {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: $bg-clear-color;
}

.home__section2-image img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  display: block;
}

.home__section2-text {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 80%;
  padding-left: 100px;
}

.home__section2-title {
  font-size: clamp(28px, 3vw, 40px);
  line-height: 1.4;
  margin-bottom: 30px;
}

.home__section2-subtitle {
  font-size: 18px;
  line-height: 1.8;
  margin-bottom: 50px;
}

/* RESPONSIVE */

@media (max-width: 1760px) {
  .logo-desktop {
    display: none;
  }

  .logo-mobile {
    display: block;
    width: clamp(100px, 13vw, 380px);
    position: absolute;
    top: 11%;
    left: 6%;
  }

  .home__hero {
    position: relative;
    grid-template-columns: 1fr;
    height: 100vh;
    padding: 0;
  }

  .home__hero-content {
    position: relative;
    max-width: none;
    width: 100%;
    height: 100%;
    z-index: 1;
    align-items: center;
  }

  .home__hero-image {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  .home__hero-image img {
    height: 100%;
    width: auto;
    object-fit: contain;
  }

  .home__title {
    height: 68%;
    text-align: center;
    align-content: end;
    padding: 0 15px;
    line-height: 1.2;
    margin: 0;
  }

  .home__subtitle {
    margin: 0;
    padding-top: 4%;
    text-align: center;
    color: $main-color-1;
  }

  .home__ctaBtn {
    font-size: 14px;
    margin: 30px 0 0 0px;
  }

  .home__section2 {
    height: auto;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }

  .home__section2-image {
    order: 1;
  }

  .home__section2-image img {
    width: 100%;
    height: auto;
    max-height: 52vh;
    object-fit: cover;
    object-position: top center;
  }

  .home__section2-text {
    order: 2;
    max-width: 100%;
    padding: 60px 28px 80px;
    align-items: center;
    text-align: center;
  }

  .home__section2-title {
    font-size: clamp(28px, 7vw, 42px);
    line-height: 1.3;
    margin-bottom: 15px;
  }

  .home__section2-subtitle {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 50px;
  }

  .home__section2 button {
    font-size: 14px;
    width: 100%;
    max-width: 340px;
  }
}

@media (max-width: 1470px) {
  .logo-mobile {
    top: 4%;
  }
}