$bg-clear-color: #F5E9D3;
$bg-dark-color: #1A1A1A;
$bg-transition-color: #3B0A28;
$main-color-1: #D4AF37;
$main-color-2: #AC0505;

$available: #d8fbd8;
$booked: #fccbcb;
$approved: #1ec026;
$cancelled: #fd0000;

$spacing-md: 16px;
$border-radius: 50px;

$mobile: 480px;
$mobile-lg: 768px;
$tablet: 1024px;
$laptop: 1440px;