$bg-clear-color: #F5E9D3;
$bg-dark-color: #1A1A1A;
$bg-transition-color: #3B0A28;
$main-color-1: #D4AF37;
$main-color-2: #AC0505;

$spacing-md: 16px;
$border-radius: 8px;

$mobile: 480px;
$tablet: 1024px;
$laptop: 3480px;